.section__gallery {
   background: $gradientBackground;
   padding: 0 0;

   
   @include mq(desktop){
        padding-top: 60px;

   }
}

.gallery__image {
   @include mq(desktop) {
      margin-left: 100px;
         }
}
// .gallery__image {
//   @include backgroundImg (url(../images/mobile/m-gallery.png), url(../images/mobile/m-gallery-2x.png));

//}

//.gallery__image {
//   @include backgroundImg (url(../images/tablet/t-gallery.png), url(../images/tablet/t-gallery-2x.png));
 
  
//}

//.gallery__image {
//   @include backgroundImg (url(../images/desktop/d-gallery.png), url(../images/desktop/d-gallery-2x.png));


//}

// .gallery {
//         display: flex;
//         align-items: center;
//         justify-content: center;
// }


// .gallery__image {
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     @media screen and (min-width:768px) {
//             display: flex;
//             align-items: center;
//             justify-content: center;
//     }

//     @media screen and (min-width:1280px) {
//             display: flex;
//             align-items: center;
//             justify-content: center;
           
//     }

// }