.hero {
  @extend %animation;
  background-color: $backgroundAccentLight;
  padding: 210px 0px;

  @include mq(tablet) {
    padding: 168px 0px;
  }

  @include mq(desktop) {
    padding: 290px 0px;
  }
}

.hero__container {
  @extend %animation;
  position: relative;
  bottom: -210px;

  @include mq(tablet) {
    bottom: -168px;
  }

  @include mq(desktop) {
    bottom: -290px;
  }
}

.hero__main {
  position: absolute;
  z-index: 1;
  left: 20px;
  bottom: 208px;

  @include mq(tablet) {
    left: 32px;
    bottom: 190px;
  }

  @include mq(desktop) {
    left: 16px;
    bottom: 316px;
    }
}

.hero__heading {
  font-family: $title-font;
  font-weight: $fontWeightLight;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $lightestColor;

  @include mq(tablet) {
    font-size: 22px;
    line-height: 25px;
  }
  
  @include mq(desktop) {
    font-size: 38px;
    line-height: 44px;
    }
}

.hero__heading--big {
  color: $darkAccentColor;
  font-size: 46px;
  line-height: 40px;

  @include mq(tablet) {
    font-size: 36px;
    line-height: 30px;
  }

  @include mq(desktop) {
    font-size: 56px;
    line-height: 45px;
  }
}

.hero__image {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/mobile/m-hero171.png);

  transform-style: preserve-3d;
  left: 117px;
  bottom: 0px;
  width: 171px;
  height: 410px;

  @include mq(retina) {
      background-image: url(../images/mobile/m-hero342.png);
    }

  @include mq(tablet) {
    background-image: url(../images/tablet/t-hero143.png);

    @include mq(retina) {
        background-image: url(../images/tablet/t-hero286.png);
      }
  left: 322px;
  width: 143px;
  height: 336px;
  }

  @include mq(desktop) {
    background-image: url(../images/desktop/d-hero236.png);
    
    @include mq(retina){
        background-image: url(../images/desktop/d-hero472.png);
        }
  left: 636px;
  width: 236px;
  height: 557px;
  }
}

.hero__image::after {
  transform: translateZ(-1px);
  position: absolute;
  bottom: 85px;
  left: -80px;
  content: "";
  background-color: $lightAccentColor;
  border-radius: 50%;
  width: 335px;
  height: 333px;
  
  @include mq(tablet) {
    bottom: 40px;
    left: -75px;
  }

  @include mq(desktop) {
    bottom: 78px;
    left: -120px;
    width: 534px;
    height: 534px;
  }
}

.hero--advantages {
  display: none;

  @include mq(tablet) {
    display: block;
    position: absolute;
    z-index: 1;
    left: 184px;
    bottom: 56px;
  }

  @include mq(desktop) {
    display: block;
    left: 230px;
    bottom: 84px;
  }
}

.hero--advantages__image {
  display: none;
  
  @include mq(tablet) {
  display: block;
  position: absolute;
  bottom: 16px;
  left: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/tablet/t-pitcher152.png);
  
    @include mq(retina) {
      background-image: url(../images/tablet/t-pitcher304.png);
    }
  }
  width: 152px;
  height: 154px;

  @include mq(desktop) {
    background-image: url(../images/desktop/d-pitcher213.png);
    
  @include mq(retina) {
      background-image: url(../images/desktop/d-pitcher426.png);
    }  
  left: 16px;
  bottom: 60px;
  width: 213px;
  height: 216px;
  }
}

.hero--advantages__description {
  font-weight: $fontWeightLight;
  font-size: 8px;
  line-height: 12px;
  color: $lightestColor;

  @include mq(desktop) {
    font-size: $fontSizeMain;
    line-height: 20px;
    }
}

.hero--contacts {
  display: none;

  @include mq(tablet) {
    display: block;
    position: absolute;
    // z-index: 1;
    right: 42px;
    bottom: 220px;
    text-align: right;
    }

    @include mq(desktop) {
      right: 26px;
      bottom: 344px;
    }
  }

.hero--contacts__item {
  transform-style: preserve-3d;
  font-family: $title-font;
  font-weight: $fontWeightLight;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $darkAccentColor;

  @include mq(desktop) {
    font-size: 46px;
    line-height: 53px;
  }
}

.hero--contacts__item:not(:first-child) {
  margin-top: 10px;

  @include mq(desktop) {
    margin-top: 18px;
  }
}

.hero--contacts__item::after {
  transform: translateZ(-1px);
  position: absolute;
  right: -10px;
  top:-2px;
  content: "";
  background-color: $lightestColor;
  width: 16px;
  height: 16px;
  border-radius: 50%;

  @include mq(desktop) {
    width: 30px;
    height: 30px;
    right: -12px;
    top: -10px;
  }
}

.hero--contacts__link {
  font-weight: $fontWeightLight;
  font-size: 8px;
  line-height: 10px;
  color: $lightestColor;

  @include transition (color); 
    &:hover,
    &:focus {
      color: $darkAccentColor;
    }

  @include mq(desktop) {
    font-size: $fontSizeMain;
    line-height: 18px;
  }
}

.hero--contacts__image {
  display:none;
  
  @include mq(tablet) {
  display: block;
  position: absolute;
  bottom: 0px;
  right: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/tablet/t-tasty190.png);
    
    @include mq(retina) {
      background-image: url(../images/tablet/t-tasty380.png);
    }
  }
  width: 190px;
  height: 150px;

  @include mq(desktop) {
    background-image: url(../images/desktop/d-tasty304.png);
      
    @include mq(retina) {
      background-image: url(../images/desktop/d-tasty608.png);
    }
  width: 304px;
  height: 241px;
  }
}