.products {
  @include mq (tablet) {
    display: flex;
    position: relative;
  }

}

.products__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 148px;

  @include mq (tablet) {
    margin-top: 158px;
  }

  @include mq (desktop) {
    margin-top: 281px;
    flex-grow: 1;
  }
}

.products__card:not(:last-child) {
  @include mq (tablet){
  margin-right: 16px;
  }

  @include mq (desktop) {
    margin-right: 32px;
  }
}

.products__card--cone {
  @include productCard ($backgroundAccentLight);
}

.products__card--coffee{
  @include productCard ($backgroundAccentExtra);
}

.products__card--milkshake {
  @include productCard ($backgroundAccentOther);
}

.products__img--cone {
  @include backgroundImg (url(../images/mobile/m-cone280.png), url(../images/mobile/m-cone560.png));  
  position: absolute;

  @include mq (tablet) {
    left: 2;
  }

  @include mq (desktop) {
    left: 20;
  }
}

.products__img--coffee {
  @include backgroundImg (url(../images/tablet/t-coffee224.png), url(../images/tablet/t-coffee448.png));
position: absolute;

@include mq (tablet) {
    left: 245;
  }

  @include mq (desktop) {
    left: 446;
  }
}

.products__img--milkshake {
@include backgroundImg (url(../images/desktop/d-milkshake368.png), url(../images/desktop/d-milkshake736.png));
position: absolute;

@include mq (tablet) {
    left: 492;
  }

  @include mq (desktop) {
    left: 875;
  }
}

.products__img {
  width: 280px;
  height: 280px;
  margin-top: 8px;
  
  @include mq(tablet) {
    width: 224px;
    height: 224px;
    margin-bottom: 32px;
    margin-top: 20px;
  }

  @include mq(desktop) {
     width: 368px;
     height: 394px;
  }
}

.products__header {
  padding-top: 160px;
  margin-bottom: 64px;
  color: $lightestColor;
  font-family: $title-font;
  font-weight: $fontWeightLight;
  font-size: fontSizeLarge;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  position: relative;

  @include mq(tablet) {
    padding-top: 118px;
  }

  @include mq (desktop) {
    font-size: $fontSizeDBig;
    line-height: 34px;
    padding-top: 165px;
  }
}

.products__header::after {
  transform: translateZ(-1px);
  position: absolute;
  right: 40;
  top: 212;
  content: "";
  background-image: url('../images/pngs/products-ellipse.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 26px;
  height: 6px;

  @include mq(tablet) {
    top: 173;
    right: 36;
  }

  @include mq (desktop) {
    top: 231;
    right: 80;
    }
}

.products__description {
  padding: 0 60px;
  font-family: $pr-font;
  color: $lightestColor;
  font-weight: $fontWeightHeavy;
  font-size: $fontSizeMain;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.04em;

  @include mq(tablet) {
    line-height: 25px;
    padding: 0px 32px; 
  }

  @include mq (desktop) {
    font-size: $fontSizeMedium;
    line-height: 28px;
    padding: 0px 64px;
  }
}