@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
}

:focus {
    outline: none;
}

/* default styles*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: $noTextDeco;
    color: inherit;
}

.list {
    list-style: $noListStyle;
    padding: 0;
    margin: 0;
}

.icon--svg {
  fill: currentColor;
}

button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

// ice cream styles

body {
  font-family: $pr-font;
  font-style: $fontStyle;
  color: $darkestColor;
  font-size: $fontSizeMain;
  font-weight: $fontWeightMed;
  background-color: $backgroundColorMain;
 }

.section__header {
  font-family: $title-font;
  color: $darkAccentColor;
  text-align: center;
  text-transform: uppercase;
  font-weight: $fontWeightLight;
  font-size: $fontSizeMLargest;
  line-height: 39px;
  letter-spacing: 0.04em;

  @include mq (tablet) {
    font-size: $fontSizeTLargest;
    line-height: 55px;
  }

  @include mq (desktop) {
    font-size: $fontSizeDLargest;
    line-height: 66px;
  }
}

.section__label {
  font-family: $title-font;
  font-size: $fontSizeMBig;
  font-weight: $fontWeightLight;
  color: $lightAccentColor;
  letter-spacing: 0.04em;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;

  @include mq (tablet) {
    font-size: $fontSizeTBig;
    line-height: 30px;
  }

  @include mq (desktop) {
    font-size: $fontSizeDBig;
    line-height: 34px;
  }
}

%animation {
    @include transition ();
}