<section class="section section__advantages" id="advantages">
  <div class="container advantages">
  <h2 class="section__title visually-hidden">Advantages</h2>
    <ul class="list advantages__list">
      <li class="advantages__item">
        <div class="advantages__info">
          <div class="advantages__image advantages__img-cow"></div>

          <p class="advantages__numbers">721</p>
          <p class="advantages__label">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__info">
          <div class="advantages__image advantages__img-fruits"></div>

          <p class="advantages__numbers">16KG</p>
          <p class="advantages__label">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__info">
          <div class="advantages__image advantages__img-heart"></div>

          <p class="advantages__numbers">84</p>
          <p class="advantages__label">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
