<section
  class="section-no-top-padding section-no-bottom-padding section__gallery"
>
  <div class="container container-no-padding gallery">
    <img
      class="gallery__image"
      src="./images/desktop/d-gallery.png"
      srcset="
        ./images/desktop/d-gallery.png    1x,
        ./images/desktop/d-gallery-2x.png 2x,
        ./images/mobile/m-gallery.png     1x,
        ./images/mobile/m-gallery-2x.png  2x,
        ./images/tablet/t-gallery.png     1x,
        ./images/tablet/t-gallery-2x.png  2x
      "
      sizes="(min-width: 1200px 270px),
        (min-width: 768px 354px),
        (max-width: 480px 450px)"
      alt="Gallery"
    />
  </div>
</section>
