<header class="header">
    <div class="container container__nav">
       <nav class="nav">
          <div class="header__logo">
            <a class="link" href="./index.html">
            <svg class="icon--svg logo" width="200" height="50">
                <use href="./images/icons.svg#logo"></use>
            </svg>
          </a>
          </div>
          <button class="nav__burger js-burger-open" type="button">
            <svg class="icon--svg burger--icon" width="20" height="12">
              <use href="./images/icons.svg#burger"></use>
            </svg>
          </button>
          <div class="nav__button" id="buynow"> 
          <button class="button button--buy-tablet" type="button" data-modal-open-buy>Buy Now
            <svg class="icon--svg button-about__svg" width="12" height="14">
              <use href="./images/icons.svg#button-arrow-right"></use>
            </svg>
          </button>
        </div>
        <div class="navbar__wrapper">
          <ul class="list navbar__list">
            <li class="navbar__item">
              <a class="link navbar__link" href="./index.html">Home</a>
            </li>
            <li class="navbar__item">
              <a class="link navbar__link" href="#advantages">About us</a>
            </li>
            <li class="navbar__item">
              <a class="link navbar__link" href="#how">How it's made?</a>
            </li>
            <li class="navbar__item">
              <a class="link navbar__link" href="#products">Our products</a>
            </li>
            <li class="navbar__item">
              <a class="link navbar__link" href="#contacts">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
</header>