<section class="section hero">
    <div class="container hero__container">
      <div class="hero__main">
        <h1 class="hero__heading"><span class="hero__heading--small">ice cream<br>made with<br></span><span class="hero__heading--big">passion</span></h1>
        <button class="button hero__button hero__button--products" type="button">
          <a class="link" href="#products">Products</a>
        </button>
        <button class="button hero__button hero__button--how" type="button">
          <a class="link" href="#how">How it's made?</a> 
        </button>
        </div>
        <div class="hero--advantages">
            <p class="hero--advantages__description">Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit,<br>sed do eiusmod tempor<br>incididunt ut labore et</p>
            <button class="button hero--advantages__button" type="button" href="#advantages">
              <a class="link" href="#advantages">
                <svg class="hero--advantages__icon icon--svg" width="6" height="6">
                <use href="./images/icons.svg#arrow-right"></use>
              </svg></a>
            </button>
        </div>
        <div class="hero--contacts">
            <ul class="list hero--contacts__list">
              <li class="hero--contacts__item">16</li>
              <li>
                <a class="link hero--contacts__link" href="#contacts">cafes</a>
              </li>
              <li class="hero--contacts__item">23</li>
              <li>
                <a class="link hero--contacts__link" href="#contacts">food trucks</a>
              </li>
            </ul>
        </div>
        <div class="hero__image"></div>
        <div class="hero--advantages__image"></div>
        <div class="hero--contacts__image"></div>
    </div>
</section>