<section class="hero-section">
  <div class="container">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, iure fuga. Quod quasi similique quae minus assumenda placeat laborum, soluta et molestias facilis molestiae obcaecati est harum facere amet fugit.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia adipisci, ullam quas pariatur magnam nostrum tempore repellendus sint possimus fugiat, delectus nemo suscipit tempora cupiditate, earum neque molestiae rem minima?
  </div>
</section>