<div class="backdrop is-hidden" data-map-modal>
    <div class="pro-modal contacts__modal">
        <button type="button" class="modal__close--franchise" data-map-modal-close>
      <svg class="icon--svg button-close__icon" width="17" height="16">
        <use href="./images/icons.svg#menu-close"></use>
      </svg>
    </button>
        <h3 class="modal__title">Our locations</h3>
        <ul class="list map-modal__list contacts-modal__wrapper ">
            <li class="map-modal__item">
                <picture>
                    <source media="(min-width: 1200px)" srcset="./images/pngs/Chicago-lg.png 1x, ./images/pngs/Chicago-lg@2x.png 2x" type="image/png" />
                    <source media="(min-width: 768px)" srcset="./images/pngs/Chicago-md.png 1x, ./images/pngs/Chicago-md@2x.png 2x" type="image/png" />
                    <source media="(max-width: 767px)" srcset="./images/pngs/Chicago-sm.png 1x, ./images/pngs/Chicago-sm@2x.png 2x" type="image/png" />
                    <img class="img map-modal__img" src="./images/pngs/Chicago-sm.png" alt="Chicago-location " width="200" height="150" />
                </picture>
            </li>
            <li class="map-modal__item">
                <picture>
                    <source media="(min-width: 1200px)" srcset="
              ./images/pngs/Los-Angeles-lg.png 1x,
              ./images/pngs/Chicago-lg@2x.png  2x
            " type="image/png" />
                    <source media="(min-width: 768px)" srcset="
              ./images/pngs/Los-Angeles-md.png 1x,
              ./images/pngs/Chicago-md@2x.png  2x
            " type="image/png" />
                    <source media="(max-width: 767px)" srcset="
              ./images/pngs/Los-Angeles-sm.png 1x,
              ./images/pngs/Chicago-sm@2x.png  2x
            " type="image/png" />

                    <img class="img map-modal__img" src="./images/pngs/Los-Angeles-sm.png" alt="Los-Angeles-location " width="200" height="150" />
                </picture>
            </li>
            <li class="map-modal__item">
                <picture>
                    <source media="(min-width: 1200px)" srcset="./images/pngs/New-York-lg.png 1x, ./images/pngs/Chicago-lg@2x.png 2x" type="image/png" />
                    <source media="(min-width: 768px)" srcset="./images/pngs/New-York-md.png 1x, ./images/pngs/Chicago-md@2x.png 2x" type="image/png" />
                    <source media="(max-width: 767px)" srcset="./images/pngs/New-York-sm.png 1x, ./images/pngs/Chicago-sm@2x.png 2x" type="image/png" />

                    <img class="img map-modal__img" src="./images/pngs/New-York-sm.png" alt="New-York-location " width="200" height="150" />
                </picture>
            </li>
        </ul>
    </div>
</div>