  <div class="mobile-tablet__wrapper js-mobile-tablet-menu" id="mobile-menu">
    <button class="button-close js-cross-close">
      <svg class="icon--svg button-close__icon-menu" width="14" height="14">
        <use href="./images/icons.svg#menu-close"></use>
      </svg>
    </button>

<button class="button button--buy-mobile-menu" type="button" data-modal-open-mobile-buy>Buy Now
  <svg class="button__icon-menu button-about__svg icon--svg" width="12" height="14">
    <use href="./images/icons.svg#button-arrow-right"></use>
  </svg>
</button>

<ul class="list mobile-tablet__navbar">
  <li class="mobile-tablet-navbar__item">
    <a class="link navbar__link" href="./index.html">Home
    </a>
  </li>
  <li class="mobile-tablet-navbar__item">
    <a class="link navbar__link" href="#advantages">About us
    </a>
  </li>
  <li class="mobile-tablet-navbar__item">
    <a class="link navbar__link" href="#how">How it's made?</a>
  </li>
  <li class="mobile-tablet-navbar__item">
    <a class="link navbar__link" href="#products">Our products</a>
  </li>
  <li class="mobile-tablet-navbar__item">
    <a class="link navbar__link" href="#contacts">Contact</a>
  </li>
</ul>
  </div>
