<div class="backdrop is-hidden" data-modal-mobile-buy>
    <div class="pro-modal contacts__modal">
        <button type="button" class="modal__close--franchise" data-modal-close-mobile-buy>
            <svg class="icon--svg button-close__icon" width="16" height="17">
                <use href="./images/icons.svg#menu-close"></use>
            </svg>
        </button>
        <form class="modal__form">
            <h3 class="modal__title">Make online Order</h3>
            <div class="contacts-modal__wrapper">
                <label class="modal__label">
                    <span class="modal__text">Name</span>
                    <input class="modal__input" type="text" name="name" placeholder="Bob Marley" />
                </label>
                <label class="modal__label">
                    <span class="modal__text">Phone</span>
                    <input class="modal__input" type="tel" name="tel" placeholder="+38 (111) 111 11 11" />
                </label>
                <label class="modal__label">
                    <span class="modal__text">Order Specifics</span>
                    <textarea class="modal__textarea" name="comment" rows="10"
                        placeholder=" ex: 2 / Large/ Coffee / Almond Milk / Cinnamon/ Hot Light Sweet"></textarea>
                </label>
                <div class="modal__radio">
                    <p class="modal__text">Do you want</p>
                    <label class="modal__label-radio">
                        <input class="modal__input-radio" type="radio" name="level" value="1 level" checked />
                        <span class="custom-radio-btn"></span>
                        <span class="modal__text-radio">Pick Up)</span>
                    </label>
                    <label class="modal__label-radio">
                        <input class="modal__input-radio" type="radio" name="level" value="2 level" />
                        <span class="custom-radio-btn"></span>
                        <span class="modal__text-radio">Dine In</span>
                    </label>
                    <label class="modal__label-radio">
                        <input class="modal__input-radio" type="radio" name="level" value="3 level" />
                        <span class="custom-radio-btn"></span>
                        <span class="modal__text-radio">Delivery (+ 5.00)</span>
                    </label>
                </div>
                <button class="btn fran-modal__button button" type="submit">Send</button>
            </div>
    </div>