<!-- ice cream description -->
<div class="backdrop is-hidden" data-modal>
  <div class="pro-modal ice__modal">
    <button type= "button" class="modal__close--ice" data-modal-close="">
      <svg class="icon--svg button-close__icon" width="16" height="17">
        <use href="./images/icons.svg#menu-close"></use>
      </svg>
    </button>
    <h3 class="modal__header--ice">we've got<br>ice cream</h3>
    <ul class="list pro-modal--ice">
      <li class="pro-modal__item">
        <h4 class="pro-modal__item-header">Cones</h4>
        <p class="pro-modal__item-description">Lorem, ipsum dolor sit amet
          consectetur adipisicing Lorem ipsum dolor sit
          Lorem ipsum dolor sit amet.
        </p>
      </li>
      <li class="pro-modal__item">
        <h4 class="pro-modal__item-header">Bowls</h4>
        <p class="pro-modal__item-description">Lorem, ipsum dolor sit amet
          consectetur adipisicing Lorem ipsum dolor sit
          Lorem ipsum dolor sit amet.
        </p>
      </li>
      <li class="pro-modal__item">
        <h4 class="pro-modal__item-header">Sundaes</h4>
        <p class="pro-modal__item-description">Lorem, ipsum dolor sit amet
          consectetur adipisicing Lorem ipsum dolor sit
          Lorem ipsum dolor sit amet.
        </p>
      </li>
      <li class="pro-modal__item">
        <h4 class="pro-modal__item-header">Toppings</h4>
        <p class="pro-modal__item-description">Lorem, ipsum dolor sit amet
          consectetur adipisicing Lorem ipsum dolor sit
          Lorem ipsum dolor sit amet.
        </p>
      </li>
      <li class="pro-modal__item">
        <h4 class="pro-modal__item-header">Sizes</h4>
        <p class="pro-modal__item-description">Lorem, ipsum dolor sit amet
          consectetur adipisicing Lorem ipsum dolor sit
          Lorem ipsum dolor sit amet.
        </p>
      </li>
    </ul>
  </div>
</div>