<section class="section" id="products">
  <div class="container container-no-top-bottom-padding">
    <p class="section__label"> 100 % natural</p>
    <h2 class="section__header">products</h2>
      <ul class="list products">
        <li class="products__item">
          <div class="products__img products__img--cone"></div>
        </li>
          <li class="products__card products__card--cone">
              <h3 class="products__header">ice cream</h3>
                <p class="products__description">Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et
                </p>
          <button class="products__button" type="button" data-modal-open>
           <svg class="products__icon icon--svg" width="12" height="12">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
          </button>
        </li>
        <li class="products__item">
          <div class="products__img products__img--coffee"></div>
        </li>
        <li class="products__card products__card--coffee">
          <h3 class="products__header">ice coffee</h3>
          <p class="products__description">Lorem ipsum dolor sit
            amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="products__button" type="button" data-modal-open-coff>
            <svg class="products__icon icon--svg" width="12" height="12">
              <use href="./images/icons.svg#arrow-right"></use>
            </svg>
          </button>
        </li>
        <li class="products__item">
          <div class="products__img products__img--milkshake"></div>
        </li>
        <li class="products__card products__card--milkshake">
          <h3 class="products__header">milkshakes</h3>
          <p class="products__description">Lorem ipsum dolor sit
            amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="products__button" type="button" data-modal-open-shake>
            <svg class="products__icon icon--svg" width="12" height="12">
              <use href="./images/icons.svg#arrow-right"></use>
            </svg>
          </button>
        </li>
     </ul>
  </div>
</section>