%button {
  font-family: $pr-font;
  @include font($fontSizeMedium, $fontWeightHeavy, 18px, 0.06em);
  border-radius: 22px;
  border: none;
  transition-property: background-color, color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {

    @include hover-focus ($hoverLight, $darkAccentColor);
    transform: scale(1.1);
  }
}

.button--buy-mobile-menu {
  @extend %button;
  color: $darkAccentColor;
  background-color: $lightestColor;
  padding: 10px 48px;
  width: 209px;
  margin-bottom: 32px;
}

.button--buy-tablet {
  @extend %button;
  color: $darkAccentColor;
  background-color: $lightestColor;
  padding: 10px 40px;
  display: none;

  @include mq (tablet) {
    display: block;
  }

  @include mq (desktop) {
    margin-right: -32px;
  }
}

.button-about {
  @extend %button;
  color: $darkAccentColor;
  background-color: $lightestColor;
  padding: 12px 20px;
  margin-top: 40px;
  width: 176px;
  position: relative;
  z-index: 1;
}

.button__icon-menu,
.button-about__svg {
    padding-top: 2px;
    margin-left: 14px;

    @include mq (tablet) {
      margin-left: 12px;
    }
}

.button__icon-modal {
  margin-left: 8px;
}

.button__icon-nav {
  padding-top: 3px;
  padding-left: 4px;
}

.hero__button {
  @extend %button;
    display: inline-flex;
    padding: 7px;
    font-size: 8px;
    font-weight: $fontWeightLight;
    line-height: 10px;
    margin: 15px 8px 0px 0px;

  @include mq (desktop) {
    padding: 12px;
    font-size: $fontSizeMain;
    line-height: 18px;
    margin: 24px 10px 0px 0px;
  }
}

.hero__button--products { 
    width: 62px;
    color: $lightestColor;
    background-color: $darkAccentColor;
    left: 0px;
    top: 120px;

  @include mq (desktop) {
    width: 107px;
  }
}

.hero__button--how {
  color: $darkAccentColor;
  background-color: $lightestColor;
  width: 82px;
  Left: 70px;
  top: 120px;

  @include mq (desktop) {
    width: 138px;
  }
}

.hero--advantages__button {
  background-color: $lightestColor;
  color: $darkAccentColor;
  height: 18px;
  width: 18px;
  margin-top: 7px;
  border-radius: 50%;
  border: none;

  @include transition (background-color, transform);
    &:hover,
    &:focus {
      background-color: $hoverLight;
      transform: scale(1.1);
  }

  @include mq (desktop) {
    width: 26px;
    height: 26px;
    margin-top: 20px;
  }
}

.hero--advantages__icon {
  margin-bottom: 1px;

  @include mq (desktop){
  width: 8px;
  height: 8px;
  margin-left: 1px;
  margin-bottom: 0px;
  }
}

.products__button {
  background-color: $lightestColor;
  color: $darkAccentColor;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  margin: 32px 0 40px 0;
  @include transition (background-color, transform);

    &:hover,
    &:focus {
      background-color: $hoverLight;
      transform: scale(1.1);
  }
}

.products__icon {
  margin-top: 3px;
}

%modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
}

.modal__close--ice {
  @extend %modal__close;
    border-color: $backgroundAccentLight;
    color: $darkAccentColor;
  &:hover,
  &:focus {
    border-color: $lightestColor;
    color: $lightestColor;
  }
  @include transition(border-color, color);
}

.modal__close--coff {
  @extend %modal__close;
    border-color: $backgroundAccentExtra;
    color: $backgroundAccentExtraDark;
  &:hover,
  &:focus {
    border-color: $lightestColor;
      color: $lightestColor;
  }

  @include transition(border-color, color);
}

.modal__close--shake {
  @extend %modal__close;
    border-color: $backgroundAccentOther;
    color: $backgroundAccentOtherDark;

  &:hover,
  &:focus {
    border-color: $lightestColor;
    color: $lightestColor;
  }

  @include transition(border-color, color);
}