.nav {
  padding-top: 8px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;

  @include mq (tablet) {
    padding-top: 32px;
    margin-left: 17px;
  }

  @include mq (desktop) {
    padding-top: 37px;
    margin-left: 0px;
     }

}


.navbar__wrapper {
  display: none;
  border: none;

  @include mq (desktop) {
   display: flex;
  }

}

.navbar__list {
  display: flex;
  margin-left: 128px;
}

.navbar__item {
  margin-right: 35px;
  font-size: $fontSizeMedium;
  font-weight: $fontWeightHeavy;
  color: $lightestColor;
  @include transition (color);
    
  &:hover,
  &:focus {
    color: $darkAccentColor;
  }
}
